.cnt {
    padding-top: 10px;
}
.form-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-container button {
    margin-left: 20px;
}
.label {
    padding-right: 10px;
    color: black;
    font-size:large;
}

.movie {
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    background-color: burlywood;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.movie:hover {
    background-color: antiquewhite;
}


.link {
    text-decoration: none;
    color: black;
}

.buscador {
    margin-left: 50px;
}



.button {
    border-radius: 5px;
}
.button:hover {
    background-color: gray;
}

.div {
    display: flex;
    justify-content: center;
}

.msg {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: center;
}