.cnt {
    padding-top: 10px;
}

.fav {
    margin-left: 50px;
}

.link {
    text-decoration: none;
    color: black;
}


.movie {
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    background-color: burlywood;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.movie:hover {
    background-color: antiquewhite;
}

.button {
    border-radius: 5px;
}
.button:hover {
    background-color: gray;
}