
.container {
  margin: 30px;
  width: 350px;
  border-radius: 5px;
  background-color: #B1B0AC;
}



.details {
  display: flex;
  justify-content: center;
  margin: 10px;
}



.movie-detail {
  display:flex;
  justify-content: center;
}



